/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Jan, 2021, 7:42:53 PM
    Author     : Pranav
*/
#banner-image{
    padding-top: 75px;
    /*padding-bottom: 50px;*/
    text-align: center;
    color: #f8f8f8;
    background: url(../images/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
    min-height: 750px;
}
#banner-content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    margin: auto;
}
.footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    
}

.row_style{
    width: 60%;
    margin: auto;
    padding-top: 10%;
}

